<h3 class="border-bottom p-2 m-3">Add Movie</h3>
<div class="row">
  <form class="col-md-6" (submit)="addMovie()">
    <div class="form-group">
      <label for="">Title</label>
      <input type="text" class="form-control" [(ngModel)]="movie.title" />
    </div>
    <div class="form-group">
      <label for="">Image</label>
      <input type="url" class="form-control" [(ngModel)]="movie.image"/>
    </div>
    <div class="form-group">
      <label for="">Year</label>
      <input type="number" class="form-control" [(ngModel)]="movie.year"/>
    </div>
    <div class="form-group">
      <label for="">Gender</label>
      <input type="text" class="form-control" [(ngModel)]="movie.gender" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Add</button>
    </div>

  </form>
</div>
